In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
from IPython.display import display, Markdown, display_html   # Para mostrar bonitas las cosas
%matplotlib inline

In [5]:
"""
Funciones de utilidad para al carga y transformacion del dataframe inicial
"""

# Montaje del archivo
def load_dataset(data_set):
  try:
    # montar el drive
    result = pd.read_csv(data_set, encoding='ISO-8859-1',delimiter=';')
    return result
  except Exception as e:
    # Error
    print(f"An unexpected error occurred: {e}")
    result = None


# Convert Series to Markdown table
def series_to_markdown(series):
  # Agradecimientos: Inteligencia artificial generativa
  markdown = "| Index | Value |\n|-------|-------|\n"
  for idx, value in series.items():
    markdown += f"| {idx} | {value} |\n"
  return markdown

# Columnas como string
def column_items_to_str(data_frame):
  # Convert Index to a formatted Markdown string
  str_cols = str(list(data_frame.columns)).strip("[]")[1:-1]
  return str_cols

# Renombra las columnas del data_frame para que tengan nombres validos
def rename_df_columns(data_frame):
  data_frame.columns = data_frame.columns.str.lower()           # Minusculas
  data_frame.columns = data_frame.columns.str.replace(' ','_')  # ' ' -> '_'
  data_frame.columns = data_frame.columns.str.replace('-','_')  # '-' por '_'

# EDA

## 0. Pasos previos

## 1. Carga y previsualizacion de los datos

> **Dataset**: Superstore Dataset [[link]](https://www.kaggle.com/datasets/vivek468/superstore-dataset-final)

Los atributos el dataset se muestran a continuación:
1. **Row ID**: Unique ID for each row.
2. **Order ID**: ID del pedido para cada cliente.
3. **Order Date**: Fecha del pedido del producto.
4. **Ship Date**:  Fecha de envío del producto
5. **Ship Mode**: Modo de envío especificado por el cliente.
6. **Customer ID**: ID del cliente.
7.  **Customer Name**: Nombre del cliente.
8.  **Segment**: Segmento al que pertenece el cliente.
9.  **Country**: País de residencia del cliente
10. **City**: Ciudad de residencia del cliente.
11. **State**: Estado de residencia del cliente.
12. **Postal Code**:  Código postal de cada cliente.
13. **Region**: Región a la que pertenece el cliente.
14. **Product ID**: ID del producto.
15. **Category**: Categoría del producto pedido.
16. **Sub-Category**: Subcategoría del producto pedido.
17. **Product Name**: Nombre del producto.
18. **Sales**: Ventas del producto.
19. **Quantity**: Cantidad del producto.
20. **Discount**: Descuento proporcionado.
21. **Profit**: Ganancia/pérdida generada.

 - [ ] Funciones que retornen los valores asociados a los datos categoricos.
 - [ ] Producto mas vendido
 - [ ] ...

### 1.1. Carga del dataset

In [8]:
url_data = "https://github.com/tigarto/tarea-fundamentos/raw/main/data_market.csv"
df_market_original = load_dataset(data_set = url_data)

### 1.2. Previsualizacion de los datos

In [9]:
df_market_original.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
1,2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582

### 1.3. Información básica

In [10]:
# Informacion basica del dataframe cargado
display(Markdown("### ----------- Info dataframe -----------"))
# Tamaño
(f,c) = df_market_original.shape
display(Markdown(f"* **Filas**: {f}"))
display(Markdown(f"* **Columnas**: {c}"))

# Columnas
str_cols = column_items_to_str(df_market_original)
markdown_str_cols = Markdown(f"* **Columnas:** {str_cols}")
display(markdown_str_cols)

# Tipos de datos
display(Markdown("###----------- Tipos de datos -----------"))
display(df_market_original.dtypes)

# Datos faltantes
num_faltantes = df_market_original.isnull().any(axis=1).sum()


# Conclusiones iniciales
markdown_str = "###----------- Conclusiones -----------\n" + \
               f"- El tipo de dato **Postal Code** debe ser categorico. \n" + \
               f"- La columna **Row ID** puede ser empleada como index del dataframe. \n" + \
               f"- Es necesario cambiar los nombres de las columnas para que sean validos. \n" + \
               f"- Hay {num_faltantes} filas con datos faltantes, de deben analizar para ver si justifica borrarlos."
display(Markdown(markdown_str))

### ----------- Info dataframe -----------

* **Filas**: 9994

* **Columnas**: 21

* **Columnas:** Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit

###----------- Tipos de datos -----------

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales             object
Quantity         float64
Discount         float64
Profit            object
dtype: object

###----------- Conclusiones -----------
- El tipo de dato **Postal Code** debe ser categorico.
- La columna **Row ID** puede ser empleada como index del dataframe.
- Es necesario cambiar los nombres de las columnas para que sean validos.
- Hay 6 filas con datos faltantes, de deben analizar para ver si justifica borrarlos.

In [11]:
df_market_original.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            6
Quantity         6
Discount         6
Profit           6
dtype: int64

In [12]:
"""
Dataframe modificado de acuerdo a las conclusiones anteriormente arrojadas
"""
# Renombrado de columnas
df_market = df_market_original.copy()
rename_df_columns(df_market)
# Fijando el nuevo index
df_market.set_index('row_id',inplace= True)
# Cambio del tipo de dato asociado al codigo postal
df_market[['postal_code']] = df_market[['postal_code']].astype('object')
display(Markdown("### ----------- Tipos de datos -----------"))
display(df_market.dtypes)
# Revision de las columnas con datos faltantes
display(Markdown("### ----------- Columnas con datos faltantes -----------"))
display(df_market[df_market.quantity.isna()])
display(Markdown("\n * **Conclusión**: Si justifica eliminar las columnas pues son muy pocos datos del total"))
df_market.dropna(axis=0, inplace=True)
# Informacion despues de hacer los cambios
display(Markdown("### ----------- Actualizacion de la filas -----------"))
display(Markdown(f"\n * **Numero de columnas con datos vacios**: {df_market.isnull().any(axis=1).sum()}"))
display(Markdown(f"\n * **Filas**: {df_market.shape[0]}"))
display(Markdown(f"\n * **Columnas**: {df_market.shape[1]}"))

### ----------- Tipos de datos -----------

order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postal_code       object
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales             object
quantity         float64
discount         float64
profit            object
dtype: object

### ----------- Columnas con datos faltantes -----------

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
182,CA-2014-166191,12/05/2014,12/09/2014,Second Class,DK-13150,David Kendrick,Corporate,United States,Decatur,Illinois,62521,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
431,US-2016-123750,4/15/2016,4/21/2016,Standard Class,RB-19795,Ross Baird,Home Office,United States,Gastonia,North Carolina,28052,South,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
432,US-2016-123750,4/15/2016,4/21/2016,Standard Class,RB-19795,Ross Baird,Home Office,United States,Gastonia,North Carolina,28052,South,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1407,US-2014-118486,4/06/2014,4/08/2014,First Class,SD-20485,Shirley Daniels,Home Office,United States,Philadelphia,Pennsylvania,19143,East,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1970,CA-2017-117485,9/23/2017,9/29/2017,Standard Class,BD-11320,Bill Donatelli,Consumer,United States,Tulsa,Oklahoma,74133,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1972,CA-2017-140242,5/06/2017,5/11/2017,Standard Class,ML-17755,Max Ludwig,Home Office,United States,Chicago,Illinois,60623,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN

 * **Conclusión**: Si justifica eliminar las columnas pues son muy pocos datos del total

### ----------- Actualizacion de la filas -----------

 * **Numero de columnas con datos vacios**: 0

 * **Filas**: 9988

 * **Columnas**: 20

In [163]:
# Despliegue del Dataframe actualizado
display(Markdown("### ----------- Dataframe actualizado -----------"))
display(df_market.head(3))
display(Markdown("> <br>**Conclusion**: <br>Podemos decir que el dataframe ya esta listo \
                  para ser actualizado para sacar informacion relevante. El dataframe que\
                  contendra esta informacion se llamara `df_market`"))

### ----------- Dataframe actualizado -----------

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,0.0,68.714

> <br>**Conclusion**: <br>Podemos decir que el dataframe ya esta listo                   para ser actualizado para sacar informacion relevante. El dataframe que                  contendra esta informacion se llamara `df_market`

In [15]:
# Guardando el archivo para actualizar
url_data_to_analize = "https://github.com/tigarto/tarea-fundamentos/raw/main/data_market2.csv"
df_market = pd.read_csv(url_data_to_analize)
df_market.set_index('row_id',inplace= True)
df_market.head(2)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582

## 2. Analisis de los datos

In [16]:

df_market = pd.read_csv('data_market2.csv')
df_market.set_index('row_id',inplace= True)
df_market.head(2)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582

### Tareas

-  [x] Mostrar una tabla con ....
-  [ ] Elemento de lista

In [149]:
# Funciones de utidad para el analisis sobre los datos del dataframe a analizar
# To do...

def xxx():
  pass

In [17]:
df_market.head(2)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582

Informacion estadistica de los datos numericos

In [ ]:
df_market.describe(include = 'object')

In [ ]:
# Datos faltantes
df_market.isna().sum()

In [ ]:
# Datos null
df_market.isnull().sum()

In [ ]:
# Filas con valores na
df_market[df_market.quantity.isna()]

ship mode (**Hacer una funcion**)

In [ ]:
# Categorias de ship_mode
df_market.ship_mode.unique()

In [ ]:
df_market.ship_mode.nunique()

In [ ]:
# customer_id
df_market.customer_id.nunique()

In [ ]:
# customer_name
df_market.customer_name.nunique()

In [ ]:
# order_date
df_market[['order_date']].nunique()

In [ ]:
# ship_date
df_market[['ship_date']].nunique()

In [ ]:
# segment
df_market[['segment']].nunique()

In [ ]:
df_market.segment.unique()

In [ ]:
# country
df_market.country.nunique()

In [ ]:
df_market.country.unique()

In [ ]:
df_market.state.unique()

In [ ]:
# city
df_market.city.nunique()

In [ ]:
df_market.region.unique()

In [ ]:
# product_id
df_market.product_id.nunique()

In [ ]:
# category
df_market.category.unique()

In [ ]:
# sub_category
df_market.sub_category.unique()

In [ ]:
# product_name
df_market.product_name.unique()

In [ ]:
# product_id
df_market.product_id.unique()

## Conclusiones del trabajo

* Conclusion 1
* Conclusion 2
* Conclusion 3
* ...

## Referencias consultadas