In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
from IPython.display import display, Markdown, display_html   # Para mostrar bonitas las cosas
%matplotlib inline

In [3]:
"""
Funciones de utilidad para al carga y transformacion del dataframe inicial
"""

# Montaje del archivo
def load_dataset(data_set):
  try:
    # montar el drive
    result = pd.read_csv(data_set, encoding='ISO-8859-1',delimiter=';')
    return result
  except Exception as e:
    # Error
    print(f"An unexpected error occurred: {e}")
    result = None


# Convert Series to Markdown table
def series_to_markdown(series):
  # Agradecimientos: Inteligencia artificial generativa
  markdown = "| Index | Value |\n|-------|-------|\n"
  for idx, value in series.items():
    markdown += f"| {idx} | {value} |\n"
  return markdown

# Columnas como string
def column_items_to_str(data_frame):
  # Convert Index to a formatted Markdown string
  str_cols = str(list(data_frame.columns)).strip("[]")[1:-1]
  return str_cols

# Renombra las columnas del data_frame para que tengan nombres validos
def rename_df_columns(data_frame):
  data_frame.columns = data_frame.columns.str.lower()           # Minusculas
  data_frame.columns = data_frame.columns.str.replace(' ','_')  # ' ' -> '_'
  data_frame.columns = data_frame.columns.str.replace('-','_')  # '-' por '_'

# EDA

## 0. Pasos previos

## 1. Carga y previsualizacion de los datos

> **Dataset**: Superstore Dataset [[link]](https://www.kaggle.com/datasets/vivek468/superstore-dataset-final)

Los atributos el dataset se muestran a continuación:
1. **Row ID**: Unique ID for each row.
2. **Order ID**: ID del pedido para cada cliente.
3. **Order Date**: Fecha del pedido del producto.
4. **Ship Date**:  Fecha de envío del producto
5. **Ship Mode**: Modo de envío especificado por el cliente.
6. **Customer ID**: ID del cliente.
7.  **Customer Name**: Nombre del cliente.
8.  **Segment**: Segmento al que pertenece el cliente.
9.  **Country**: País de residencia del cliente
10. **City**: Ciudad de residencia del cliente.
11. **State**: Estado de residencia del cliente.
12. **Postal Code**:  Código postal de cada cliente.
13. **Region**: Región a la que pertenece el cliente.
14. **Product ID**: ID del producto.
15. **Category**: Categoría del producto pedido.
16. **Sub-Category**: Subcategoría del producto pedido.
17. **Product Name**: Nombre del producto.
18. **Sales**: Ventas del producto.
19. **Quantity**: Cantidad del producto.
20. **Discount**: Descuento proporcionado.
21. **Profit**: Profit.

 - [ ] Funciones que retornen los valores asociados a los datos categoricos.
 - [ ] Producto mas vendido
 - [ ] ...

### 1.1. Carga del dataset

In [4]:
url_data = "https://github.com/tigarto/tarea-fundamentos/raw/main/data_market.csv"
df_market_original = load_dataset(data_set = url_data)

### 1.2. Previsualizacion de los datos

In [5]:
df_market_original.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
1,2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582

### 1.3. Información básica

In [9]:
# Informacion basica del dataframe cargado
display(Markdown("### ----------- Info dataframe -----------"))
# Tamaño
(f,c) = df_market_original.shape
display(Markdown(f"* **Filas**: {f}"))
display(Markdown(f"* **Columnas**: {c}"))

# Columnas
str_cols = column_items_to_str(df_market_original)
markdown_str_cols = Markdown(f"* **Columnas:** {str_cols}")
display(markdown_str_cols)

# Tipos de datos
display(Markdown("### ----------- Tipos de datos -----------"))
display(df_market_original.dtypes)

# Datos faltantes
num_faltantes = df_market_original.isnull().any(axis=1).sum()


# Conclusiones iniciales
markdown_str = "### ----------- Conclusiones -----------\n" + \
               f"- El tipo de dato **Postal Code** debe ser categorico. \n" + \
               f"- La columna **Row ID** puede ser empleada como index del dataframe. \n" + \
               f"- Es necesario cambiar los nombres de las columnas para que sean validos. \n" + \
               f"- Hay {num_faltantes} filas con datos faltantes, de deben analizar para ver si justifica borrarlos."
display(Markdown(markdown_str))

### ----------- Info dataframe -----------

* **Filas**: 9994

* **Columnas**: 21

* **Columnas:** Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit

### ----------- Tipos de datos -----------

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales             object
Quantity         float64
Discount         float64
Profit            object
dtype: object

### ----------- Conclusiones -----------
- El tipo de dato **Postal Code** debe ser categorico.
- La columna **Row ID** puede ser empleada como index del dataframe.
- Es necesario cambiar los nombres de las columnas para que sean validos.
- Hay 6 filas con datos faltantes, de deben analizar para ver si justifica borrarlos.

In [11]:
# Datos nulos por columna
df_market_original.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            6
Quantity         6
Discount         6
Profit           6
dtype: int64

In [13]:
"""
Dataframe modificado de acuerdo a las conclusiones anteriormente arrojadas
"""
# Renombrado de columnas
df_market = df_market_original.copy()
rename_df_columns(df_market)

# Fijando el nuevo index
df_market.set_index('row_id',inplace= True)

# Cambio del tipo de dato asociado al codigo postal
df_market[['postal_code']] = df_market[['postal_code']].astype('object')

display(Markdown("### ----------- Tipos de datos -----------"))
display(df_market.dtypes)

# Revision de las columnas con datos faltantes
display(Markdown("### ----------- Columnas con datos faltantes -----------"))
display(df_market[df_market.quantity.isna()])
display(Markdown("\n * **Conclusión**: Si justifica eliminar las columnas pues son muy pocos datos del total"))
df_market.dropna(axis=0, inplace=True)

# Informacion despues de hacer los cambios
display(Markdown("### ----------- Actualizacion de la filas -----------"))
display(Markdown(f"\n * **Numero de columnas con datos vacios**: {df_market.isnull().any(axis=1).sum()}"))
display(Markdown(f"\n * **Filas**: {df_market.shape[0]}"))
display(Markdown(f"\n * **Columnas**: {df_market.shape[1]}"))

### ----------- Tipos de datos -----------

order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postal_code       object
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales             object
quantity         float64
discount         float64
profit            object
dtype: object

### ----------- Columnas con datos faltantes -----------

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
182,CA-2014-166191,12/05/2014,12/09/2014,Second Class,DK-13150,David Kendrick,Corporate,United States,Decatur,Illinois,62521,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
431,US-2016-123750,4/15/2016,4/21/2016,Standard Class,RB-19795,Ross Baird,Home Office,United States,Gastonia,North Carolina,28052,South,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
432,US-2016-123750,4/15/2016,4/21/2016,Standard Class,RB-19795,Ross Baird,Home Office,United States,Gastonia,North Carolina,28052,South,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1407,US-2014-118486,4/06/2014,4/08/2014,First Class,SD-20485,Shirley Daniels,Home Office,United States,Philadelphia,Pennsylvania,19143,East,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1970,CA-2017-117485,9/23/2017,9/29/2017,Standard Class,BD-11320,Bill Donatelli,Consumer,United States,Tulsa,Oklahoma,74133,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN
1972,CA-2017-140242,5/06/2017,5/11/2017,Standard Class,ML-17755,Max Ludwig,Home Office,United States,Chicago,Illinois,60623,Central,TEC-AC-10004659,Technology,Accessories,Imation Secure+ Hardware Encrypted USB 2.0 Fla...,NaN,NaN,NaN,NaN

 * **Conclusión**: Si justifica eliminar las columnas pues son muy pocos datos del total

### ----------- Actualizacion de la filas -----------

 * **Numero de columnas con datos vacios**: 0

 * **Filas**: 9988

 * **Columnas**: 20

In [14]:
# Despliegue del Dataframe actualizado
display(Markdown("### ----------- Dataframe actualizado -----------"))
display(df_market.head(3))
display(Markdown("> <br>**Conclusion**: <br>Podemos decir que el dataframe ya esta listo \
                  para ser actualizado para sacar informacion relevante. El dataframe que\
                  contendra esta informacion se llamara `df_market`"))

### ----------- Dataframe actualizado -----------

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2.0,0.0,68.714

> <br>**Conclusion**: <br>Podemos decir que el dataframe ya esta listo                   para ser actualizado para sacar informacion relevante. El dataframe que                  contendra esta informacion se llamara `df_market`

In [15]:
# Guardando el archivo para actualizar
url_data_to_analize = "https://github.com/tigarto/tarea-fundamentos/raw/main/data_market2.csv"
df_market = pd.read_csv(url_data_to_analize)
df_market.set_index('row_id',inplace= True)
df_market.head(2)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582

## 2. Analisis de los datos

In [65]:

df_market = pd.read_csv('data_market2.csv')
df_market[['postal_code']] = df_market[['postal_code']].astype('object')
df_market.set_index('row_id',inplace= True)
df_market.head(2)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582

### Tareas

-  [x] Mostrar una tabla con ....
-  [ ] Elemento de lista

In [67]:
# Funciones de utidad para el analisis sobre los datos del dataframe a analizar
# To do...

from pandas.api.types import is_object_dtype, is_numeric_dtype, is_bool_dtype


# Obtiene el numero de items y los items de las columnas categoricas
def get_unique_column_items(df, col_name):
    if is_object_dtype(df[col_name]):
        items = df_market[col_name].unique()
        num_items = df_market[col_name].nunique()
        return [num_items, items.tolist()]
    else:
        return None

[1334,
 ['11/11/2016',
  '6/16/2016',
  '10/18/2015',
  '6/14/2014',
  '4/20/2017',
  '12/10/2016',
  '11/26/2015',
  '11/18/2014',
  '5/15/2014',
  '9/01/2014',
  '12/13/2016',
  '7/18/2017',
  '9/30/2015',
  '1/20/2016',
  '9/21/2015',
  '10/23/2017',
  '12/31/2015',
  '9/15/2017',
  '7/22/2016',
  '9/23/2017',
  '3/13/2016',
  '10/25/2014',
  '6/25/2016',
  '4/22/2015',
  '12/17/2016',
  '6/18/2016',
  '11/30/2015',
  '5/05/2015',
  '12/10/2014',
  '6/06/2016',
  '9/23/2016',
  '9/17/2017',
  '5/02/2015',
  '12/11/2017',
  '12/01/2014',
  '6/15/2016',
  '10/16/2014',
  '9/08/2015',
  '11/16/2017',
  '5/30/2017',
  '11/02/2017',
  '4/10/2016',
  '9/22/2016',
  '2/05/2015',
  '11/12/2017',
  '11/11/2017',
  '6/20/2017',
  '9/11/2016',
  '9/02/2016',
  '12/04/2016',
  '11/17/2015',
  '11/28/2017',
  '10/20/2015',
  '12/30/2017',
  '11/10/2016',
  '8/27/2014',
  '3/06/2015',
  '4/10/2015',
  '12/28/2014',
  '9/25/2014',
  '2/05/2017',
  '10/19/2016',
  '9/07/2016',
  '12/27/2017',
  '9/12/2015',
  '10/28/2014',
  '12/09/2016',
  '3/16/2016',
  '6/02/2015',
  '6/03/2015',
  '3/06/2014',
  '11/24/2016',
  '5/12/2016',
  '11/20/2016',
  '9/12/2014',
  '8/09/2014',
  '9/19/2014',
  '4/25/2017',
  '11/23/2015',
  '12/19/2015',
  '12/09/2014',
  '11/24/2014',
  '12/02/2016',
  '8/30/2014',
  '10/14/2015',
  '11/06/2015',
  '3/25/2014',
  '11/13/2017',
  '7/13/2017',
  '6/29/2017',
  '8/05/2014',
  '12/21/2017',
  '6/07/2017',
  '12/14/2017',
  '12/07/2017',
  '2/13/2015',
  '1/09/2015',
  '11/01/2016',
  '12/27/2015',
  '8/16/2015',
  '3/04/2015',
  '9/17/2014',
  '4/12/2017',
  '6/09/2016',
  '6/06/2014',
  '12/15/2016',
  '9/17/2016',
  '12/04/2015',
  '12/03/2017',
  '6/12/2017',
  '9/21/2014',
  '6/13/2016',
  '11/15/2015',
  '1/28/2016',
  '12/13/2017',
  '1/02/2018',
  '7/31/2015',
  '10/17/2017',
  '9/28/2015',
  '10/02/2015',
  '12/20/2016',
  '11/03/2016',
  '11/23/2017',
  '5/09/2015',
  '1/04/2015',
  '4/17/2017',
  '9/14/2016',
  '10/03/2014',
  '8/16/2014',
  '12/30/2014',
  '11/09/2014',
  '9/24/2014',
  '4/27/2016',
  '11/05/2017',
  '9/01/2016',
  '4/29/2016',
  '9/04/2015',
  '7/17/2014',
  '6/26/2015',
  '4/17/2014',
  '12/24/2015',
  '6/19/2017',
  '7/12/2017',
  '9/03/2016',
  '4/13/2016',
  '4/28/2016',
  '3/11/2017',
  '10/01/2017',
  '9/29/2014',
  '10/21/2016',
  '6/04/2017',
  '7/27/2014',
  '10/01/2016',
  '9/01/2017',
  '10/29/2016',
  '6/29/2015',
  '12/02/2015',
  '12/07/2015',
  '11/26/2014',
  '12/15/2017',
  '9/23/2014',
  '6/10/2014',
  '7/05/2017',
  '10/19/2017',
  '11/04/2015',
  '9/10/2016',
  '12/26/2014',
  '4/20/2014',
  '12/29/2017',
  '12/12/2017',
  '11/07/2017',
  '6/28/2017',
  '4/18/2016',
  '11/10/2017',
  '3/09/2017',
  '6/25/2014',
  '8/23/2017',
  '11/26/2017',
  '9/13/2014',
  '10/08/2017',
  '4/21/2016',
  '6/07/2016',
  '12/25/2014',
  '6/14/2016',
  '9/19/2017',
  '1/23/2017',
  '3/25/2017',
  '4/03/2016',
  '10/24/2017',
  '2/18/2014',
  '12/22/2015',
  '1/24/2015',
  '4/04/2017',
  '11/11/2014',
  '7/19/2016',
  '11/02/2016',
  '7/02/2016',
  '10/10/2014',
  '6/13/2017',
  '10/31/2014',
  '6/13/2014',
  '5/14/2016',
  '3/21/2016',
  '7/31/2016',
  '6/04/2016',
  '11/15/2017',
  '3/22/2015',
  '11/27/2017',
  '10/23/2016',
  '12/25/2017',
  '1/27/2017',
  '3/26/2015',
  '1/25/2017',
  '5/23/2016',
  '1/02/2016',
  '10/26/2017',
  '9/07/2015',
  '11/09/2015',
  '9/11/2017',
  '6/01/2016',
  '7/16/2016',
  '9/08/2017',
  '12/08/2015',
  '12/11/2015',
  '2/03/2014',
  '7/17/2016',
  '12/23/2015',
  '5/16/2014',
  '11/22/2017',
  '4/17/2016',
  '9/12/2017',
  '7/03/2017',
  '3/07/2014',
  '9/18/2014',
  '12/09/2015',
  '12/10/2017',
  '1/04/2018',
  '11/07/2016',
  '9/22/2015',
  '7/26/2017',
  '9/14/2015',
  '12/05/2017',
  '7/09/2015',
  '3/24/2016',
  '1/13/2014',
  '8/15/2014',
  '7/21/2016',
  '3/19/2014',
  '5/27/2014',
  '5/01/2016',
  '9/13/2016',
  '11/17/2017',
  '12/31/2014',
  '12/03/2015',
  '5/23/2017',
  '9/26/2017',
  '10/09/2015',
  '8/21/2016',
  '5/25/2016',
  '12/22/2016',
  '8/03/2017',
  '6/15/2017',
  '7/25/2017',
  '1/05/2018',
  '4/08/2016',
  '12/16/2016',
  '6/23/2017',
  '8/28/2016',
  '9/19/2016',
  '8/28/2015',
  '3/30/2016',
  '11/04/2016',
  '6/10/2017',
  '6/22/2017',
  '12/08/2017',
  '3/23/2017',
  '11/04/2017',
  '7/08/2014',
  '6/23/2014',
  '4/02/2015',
  '5/17/2015',
  '11/08/2016',
  '4/14/2015',
  '12/04/2014',
  '4/07/2014',
  '9/07/2017',
  '5/24/2017',
  '7/06/2014',
  '1/14/2014',
  '9/29/2017',
  '6/07/2014',
  '2/18/2016',
  '12/19/2016',
  '10/13/2014',
  '7/12/2016',
  '9/20/2017',
  '12/06/2016',
  '1/08/2014',
  '3/22/2016',
  '10/06/2017',
  '4/09/2016',
  '12/12/2015',
  '1/02/2015',
  '7/28/2017',
  '9/22/2017',
  '9/05/2015',
  '1/15/2014',
  '5/20/2014',
  '5/24/2016',
  '8/23/2015',
  '10/06/2015',
  '5/28/2015',
  '3/21/2017',
  '12/16/2015',
  '6/30/2015',
  '5/20/2016',
  '9/26/2014',
  '12/26/2015',
  '2/23/2017',
  '8/23/2016',
  '3/17/2016',
  '4/24/2017',
  '11/07/2014',
  '10/15/2014',
  '5/14/2017',
  '3/23/2015',
  '7/02/2014',
  '6/27/2017',
  '8/28/2017',
  '6/21/2017',
  '7/27/2016',
  '3/12/2016',
  '11/25/2015',
  '11/09/2016',
  '10/17/2015',
  '1/06/2017',
  '2/12/2014',
  '2/24/2016',
  '8/08/2014',
  '4/15/2017',
  '6/16/2014',
  '1/07/2016',
  '10/02/2016',
  '4/10/2014',
  '9/05/2016',
  '12/15/2014',
  '8/29/2017',
  '1/21/2016',
  '12/02/2017',
  '10/13/2015',
  '12/23/2017',
  '10/24/2016',
  '5/04/2014',
  '4/28/2015',
  '7/02/2017',
  '12/16/2014',
  '6/26/2017',
  '11/12/2016',
  '10/06/2016',
  '9/15/2014',
  '10/31/2017',
  '4/12/2016',
  '1/03/2018',
  '6/07/2015',
  '11/29/2017',
  '6/21/2014',
  '3/11/2016',
  '12/12/2014',
  '4/15/2015',
  '9/20/2016',
  '9/16/2014',
  '9/06/2017',
  '6/24/2016',
  '11/06/2017',
  '12/17/2015',
  '6/20/2016',
  '7/28/2015',
  '4/07/2017',
  '1/01/2018',
  '12/04/2017',
  '5/18/2017',
  '11/19/2017',
  '12/01/2015',
  '9/04/2016',
  '4/11/2017',
  '1/18/2014',
  '7/15/2017',
  '1/10/2017',
  '5/31/2016',
  '10/08/2016',
  '11/14/2014',
  '10/05/2017',
  '3/10/2015',
  '5/26/2017',
  '3/31/2015',
  '8/27/2016',
  '5/25/2014',
  '11/03/2015',
  '11/17/2016',
  '8/31/2015',
  '9/19/2015',
  '7/10/2015',
  '5/03/2015',
  '6/20/2015',
  '12/20/2017',
  '1/13/2016',
  '7/15/2014',
  '11/22/2016',
  '4/26/2016',
  '6/14/2015',
  '11/21/2017',
  '9/09/2016',
  '10/16/2017',
  '6/01/2014',
  '7/05/2015',
  '4/08/2015',
  '12/17/2017',
  '12/01/2016',
  '3/29/2015',
  '4/21/2015',
  '9/30/2017',
  '7/29/2015',
  '5/02/2016',
  '11/19/2016',
  '9/30/2016',
  '9/25/2017',
  '3/05/2016',
  '8/12/2016',
  '8/20/2016',
  '12/13/2015',
  '1/26/2017',
  '6/28/2014',
  '6/17/2016',
  '4/27/2017',
  '10/27/2016',
  '7/24/2016',
  '1/26/2014',
  '3/07/2015',
  '4/16/2016',
  '12/07/2016',
  '12/11/2016',
  '11/15/2016',
  '4/04/2015',
  '5/14/2015',
  '12/21/2014',
  '7/07/2016',
  '7/04/2017',
  '9/05/2014',
  '3/08/2014',
  '5/08/2014',
  '11/02/2015',
  '3/14/2014',
  '4/25/2014',
  '10/26/2015',
  '8/25/2015',
  '12/05/2016',
  '1/15/2017',
  '11/30/2014',
  '2/28/2017',
  '9/15/2015',
  '8/04/2017',
  '7/18/2016',
  '9/13/2017',
  '7/16/2014',
  '10/28/2016',
  '2/22/2016',
  '5/21/2017',
  '12/14/2014',
  '12/24/2017',
  '3/14/2017',
  '12/28/2016',
  '10/27/2017',
  '7/09/2017',
  '12/29/2014',
  '9/27/2017',
  '6/08/2017',
  '5/26/2016',
  '5/07/2016',
  '9/11/2014',
  '9/06/2016',
  '7/03/2016',
  '7/08/2015',
  '11/26/2016',
  '9/01/2015',
  '5/29/2015',
  '12/12/2016',
  '10/07/2015',
  '12/25/2016',
  '9/24/2015',
  '7/07/2017',
  '6/21/2016',
  '12/23/2016',
  '7/05/2014',
  '2/08/2017',
  '3/08/2017',
  '10/10/2017',
  '5/30/2014',
  '6/18/2015',
  '4/01/2016',
  '10/18/2017',
  '5/27/2016',
  '6/06/2017',
  '2/21/2014',
  '5/10/2014',
  '4/02/2017',
  '1/04/2017',
  '6/01/2015',
  '3/24/2014',
  '10/08/2014',
  '3/31/2016',
  '5/09/2017',
  '10/01/2014',
  '10/25/2017',
  '7/11/2017',
  '12/28/2015',
  '3/12/2017',
  '4/06/2014',
  '2/05/2016',
  '10/14/2017',
  '11/05/2016',
  '4/25/2016',
  '4/08/2014',
  '7/13/2016',
  '1/31/2017',
  '11/30/2017',
  '12/30/2016',
  '10/15/2015',
  '8/08/2017',
  '5/28/2016',
  '6/16/2017',
  '4/24/2014',
  '5/07/2015',
  '7/20/2015',
  '11/29/2016',
  '8/21/2015',
  '3/15/2016',
  '8/14/2014',
  '5/16/2015',
  '9/27/2015',
  '11/25/2016',
  '3/24/2017',
  '11/20/2017',
  '12/08/2016',
  '10/18/2016',
  '12/03/2014',
  '11/07/2015',
  '12/06/2014',
  '5/05/2017',
  '11/03/2017',
  '12/19/2014',
  '10/20/2016',
  '11/18/2017',
  '8/07/2015',
  '7/01/2017',
  '8/22/2017',
  '2/06/2014',
  '2/14/2017',
  '4/21/2017',
  '11/10/2015',
  '9/05/2017',
  '3/16/2014',
  '2/08/2014',
  '11/27/2015',
  '6/22/2016',
  '5/05/2014',
  '10/21/2017',
  '5/15/2016',
  '3/18/2015',
  '4/09/2014',
  '6/30/2017',
  '3/04/2014',
  '3/25/2015',
  '6/11/2017',
  '11/25/2014',
  '12/18/2014',
  '3/01/2016',
  '8/12/2015',
  '5/16/2016',
  '4/19/2016',
  '6/25/2015',
  '10/19/2014',
  '3/27/2015',
  '5/12/2017',
  '5/13/2016',
  '4/24/2016',
  '3/19/2016',
  '11/22/2015',
  '6/25/2017',
  '5/08/2016',
  '12/02/2014',
  '3/20/2015',
  '9/29/2015',
  '8/29/2014',
  '5/06/2017',
  '1/15/2015',
  '3/25/2016',
  '8/20/2014',
  '6/29/2016',
  '7/15/2015',
  '3/08/2016',
  '2/04/2015',
  '10/13/2017',
  '5/04/2016',
  '12/25/2015',
  '12/20/2015',
  '5/04/2017',
  '2/07/2016',
  '7/14/2016',
  '8/01/2017',
  '9/09/2015',
  '6/09/2014',
  '8/17/2016',
  '4/29/2014',
  '5/17/2014',
  '1/12/2014',
  '8/08/2016',
  '3/26/2014',
  '5/03/2014',
  '11/28/2015',
  '11/16/2016',
  '7/13/2015',
  '2/19/2015',
  '10/04/2014',
  '12/13/2014',
  '8/30/2017',
  '7/11/2016',
  '8/10/2016',
  '2/13/2016',
  '6/11/2014',
  '9/18/2015',
  '6/04/2015',
  '12/15/2015',
  '5/29/2014',
  '2/20/2016',
  '2/11/2016',
  '5/24/2014',
  '8/07/2017',
  '6/24/2014',
  '2/21/2017',
  '7/23/2016',
  '2/11/2015',
  '8/02/2017',
  '1/17/2017',
  '9/10/2017',
  '7/25/2015',
  '6/17/2014',
  '5/15/2017',
  '3/27/2017',
  '11/12/2014',
  '10/17/2016',
  '4/18/2017',
  '7/01/2015',
  '8/29/2016',
  '7/25/2014',
  '11/25/2017',
  '3/29/2017',
  '3/05/2015',
  '10/22/2014',
  '3/18/2014',
  '1/04/2016',
  '9/02/2014',
  '10/22/2017',
  '5/21/2016',
  '7/06/2017',
  '1/17/2014',
  '11/14/2015',
  '11/01/2015',
  '8/19/2017',
  '7/10/2016',
  '3/13/2017',
  '12/01/2017',
  '3/18/2017',
  '8/10/2017',
  '5/27/2015',
  '6/26/2016',
  '12/28/2017',
  '5/11/2017',
  '10/20/2014',
  '5/12/2015',
  '4/14/2016',
  '11/27/2014',
  '11/13/2015',
  '2/09/2014',
  '11/21/2014',
  '9/21/2016',
  '3/15/2015',
  '1/27/2015',
  '6/23/2015',
  '10/08/2015',
  '8/23/2014',
  '11/04/2014',
  '4/19/2015',
  '12/05/2014',
  '12/29/2015',
  '3/01/2017',
  '11/29/2014',
  '6/28/2016',
  '10/30/2015',
  '7/19/2017',
  '11/29/2015',
  '3/17/2014',
  '7/18/2014',
  '3/28/2017',
  '10/05/2014',
  '10/31/2015',
  '1/13/2017',
  '9/24/2017',
  '5/22/2014',
  '1/05/2016',
  '12/17/2014',
  '4/05/2017',
  '5/05/2016',
  '1/12/2016',
  '3/19/2017',
  '1/30/2017',
  '8/03/2014',
  '8/04/2016',
  '8/03/2015',
  '5/11/2016',
  '8/15/2017',
  '9/12/2016',
  '7/20/2014',
  '8/26/2015',
  '11/16/2014',
  '11/30/2016',
  '10/02/2017',
  '12/06/2015',
  '8/05/2017',
  '10/05/2016',
  '4/05/2014',
  '7/14/2017',
  '9/17/2015',
  '4/26/2017',
  '2/18/2015',
  '10/01/2015',
  '12/18/2015',
  '2/09/2017',
  '10/12/2017',
  '12/26/2017',
  '3/11/2015',
  '7/01/2014',
  '3/09/2015',
  '6/05/2017',
  '1/11/2017',
  '4/25/2015',
  '11/05/2015',
  '12/24/2016',
  '8/08/2015',
  '11/09/2017',
  '1/03/2016',
  '9/26/2016',
  '8/24/2014',
  '1/03/2015',
  '7/30/2014',
  '2/28/2016',
  '3/18/2016',
  '9/02/2015',
  '3/21/2014',
  '2/13/2017',
  '9/27/2016',
  '8/21/2014',
  '5/10/2016',
  '3/26/2017',
  '12/10/2015',
  '3/23/2016',
  '11/19/2015',
  '8/16/2017',
  '10/03/2016',
  '10/11/2017',
  '8/06/2014',
  '6/09/2015',
  '1/02/2017',
  '7/11/2015',
  '11/14/2017',
  '4/23/2016',
  '5/20/2017',
  '4/01/2014',
  '6/01/2017',
  '7/10/2017',
  '11/20/2014',
  '7/22/2017',
  '11/06/2016',
  '3/22/2017',
  '8/21/2017',
  '12/09/2017',
  '5/08/2017',
  '12/31/2017',
  '9/03/2017',
  '11/23/2014',
  '6/22/2014',
  '7/02/2015',
  '11/23/2016',
  '12/06/2017',
  '9/10/2014',
  '11/22/2014',
  '5/07/2017',
  '10/29/2014',
  '8/18/2017',
  '1/29/2015',
  '7/16/2015',
  '8/22/2015',
  '9/18/2016',
  '10/14/2016',
  '3/30/2015',
  '7/21/2017',
  '8/15/2016',
  '1/31/2014',
  '5/09/2016',
  '5/17/2017',
  '4/29/2017',
  '3/10/2016',
  '8/19/2015',
  '6/18/2017',
  '2/25/2015',
  '9/21/2017',
  '8/30/2015',
  '8/05/2016',
  '2/09/2016',
  '3/23/2014',
  '2/06/2015',
  '12/08/2014',
  '11/08/2014',
  '2/19/2017',
  '2/23/2015',
  '2/27/2016',
  '8/11/2017',
  '8/11/2014',
  '1/18/2017',
  '4/07/2015',
  '10/25/2016',
  '7/19/2015',
  '10/15/2016',
  '9/23/2015',
  '9/22/2014',
  '11/08/2017',
  '9/11/2015',
  '7/27/2015',
  '11/18/2015',
  '1/05/2017',
  '9/30/2014',
  '11/05/2014',
  '6/12/2016',
  '9/04/2017',
  '5/22/2017',
  '12/31/2016',
  '12/03/2016',
  '6/05/2016',
  '12/22/2017',
  '8/20/2017',
  '7/31/2017',
  '8/17/2017',
  '8/13/2017',
  '1/23/2016',
  '1/19/2016',
  '2/25/2014',
  '2/03/2016',
  '10/22/2016',
  '12/19/2017',
  '5/01/2014',
  '10/29/2017',
  '4/03/2014',
  '1/09/2016',
  '4/30/2015',
  '7/01/2016',
  '7/04/2014',
  '11/24/2017',
  '3/31/2017',
  '12/18/2017',
  '8/24/2016',
  '5/01/2017',
  '1/16/2014',
  '6/17/2015',
  '12/11/2014',
  '5/30/2016',
  '2/26/2016',
  '3/17/2017',
  '7/21/2014',
  '5/21/2014',
  '10/15/2017',
  '7/29/2016',
  '4/23/2017',
  '8/30/2016',
  '3/28/2016',
  '6/16/2015',
  '3/07/2017',
  '7/24/2014',
  '6/02/2017',
  '4/19/2017',
  '6/12/2015',
  '8/26/2014',
  '7/03/2014',
  '6/10/2016',
  '7/24/2017',
  '3/27/2016',
  '10/31/2016',
  '6/03/2016',
  '1/01/2016',
  '9/04/2014',
  '8/13/2016',
  '12/07/2014',
  '1/15/2016',
  '4/22/2017',
  '11/27/2016',
  '12/29/2016',
  '10/30/2017',
  '8/14/2015',
  '12/14/2016',
  '11/15/2014',
  '11/19/2014',
  '7/19/2014',
  '2/16/2015',
  '10/06/2014',
  '2/25/2017',
  '8/18/2014',
  '10/03/2017',
  '5/30/2015',
  '1/01/2015',
  '11/11/2015',
  '8/20/2015',
  '9/28/2014',
  '6/08/2015',
  '2/02/2014',
  '3/30/2017',
  '8/13/2014',
  '7/08/2017',
  '4/27/2014',
  '9/24/2016',
  '9/13/2015',
  '8/02/2016',
  '8/07/2016',
  '10/13/2016',
  '9/14/2014',
  '3/02/2015',
  '7/14/2015',
  '9/18/2017',
  '3/10/2017',
  '10/26/2016',
  '7/06/2015',
  '9/28/2017',
  '4/10/2017',
  '11/28/2016',
  '4/23/2014',
  '5/09/2014',
  '11/01/2017',
  '4/02/2016',
  '9/09/2017',
  '7/06/2016',
  '9/14/2017',
  '8/12/2017',
  '3/24/2015',
  '6/11/2016',
  '10/07/2017',
  '8/27/2017',
  '9/29/2016',
  '11/14/2016',
  '12/23/2014',
  '4/30/2017',
  '3/17/2015',
  '11/21/2015',
  '6/19/2015',
  '10/24/2014',
  '9/28/2016',
  '3/06/2016',
  '3/04/2016',
  '8/18/2016',
  '3/02/2017',
  '12/20/2014',
  '12/21/2016',
  '5/17/2016',
  '4/13/2014',
  '5/08/2015',
  '2/20/2017',
  '7/11/2014',
  '2/28/2015',
  '3/05/2017',
  '7/08/2016',
  '10/12/2014',
  '4/15/2014',
  '8/02/2014',
  '6/12/2014',
  '10/28/2017',
  '2/22/2017',
  '7/29/2014',
  '10/27/2015',
  '7/12/2014',
  '2/02/2017',
  '11/28/2014',
  '1/08/2015',
  '11/20/2015',
  '7/23/2017',
  '5/29/2017',
  '6/30/2016',
  '1/19/2017',
  '6/02/2016',
  '10/24/2015',
  '11/17/2014',
  '4/06/2016',
  '6/05/2015',
  '2/24/2015',
  '12/27/2014',
  ...]]

## Funciones de resumen de los datos limpiados

### Forma del dataframe

In [30]:
# Forma del dataframe
df_market.head(2)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2.0,0.0,419.136
2,CA-2016-152156,11/08/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3.0,0.0,219.582

### Informacion

In [31]:
# Informacion sobre el dataframe
df_market.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9988 entries, 1 to 9994
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       9988 non-null   object
 1   order_date     9988 non-null   object
 2   ship_date      9988 non-null   object
 3   ship_mode      9988 non-null   object
 4   customer_id    9988 non-null   object
 5   customer_name  9988 non-null   object
 6   segment        9988 non-null   object
 7   country        9988 non-null   object
 8   city           9988 non-null   object
 9   state          9988 non-null   object
 10  postal_code    9988 non-null   object
 11  region         9988 non-null   object
 12  product_id     9988 non-null   object
 13  category       9988 non-null   object
 14  sub_category   9988 non-null   object
 15  product_name   9988 non-null   object
 16  sales          9988 non-null   object
 17  quantity       9988 non-null   float64
 18  discount       9988 non-null   float64
 19  profit         9988 non-null   object
dtypes: float64(2), object(18)
memory usage: 1.6+ MB

### Columnas

In [35]:
df_market.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'customer_name', 'segment', 'country', 'city', 'state', 'postal_code',
       'region', 'product_id', 'category', 'sub_category', 'product_name',
       'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

### Columnas con datos numericos

In [37]:
df_market.describe()

          quantity     discount
count  9988.000000  9988.000000
mean      3.788646     0.156196
std       2.224976     0.206506
min       1.000000     0.000000
25%       2.000000     0.000000
50%       3.000000     0.200000
75%       5.000000     0.200000
max      14.000000     0.800000

### Columnas con datos categoricos

In [38]:
df_market.describe(include = 'object')

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,profit
count,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988,9988
unique,5008,1237,1334,4,793,793,3,1,531,49,631,4,1861,3,17,1849,5822,7172
top,CA-2017-100111,9/05/2016,12/16/2015,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,10035,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope,12.96,0
freq,14,38,35,5964,37,37,5190,9988,915,2001,263,3203,19,6026,1523,48,56,65

ship mode (**Hacer una funcion**)

In [71]:
# Informacion columnas

cat_cols = df_market.select_dtypes(include=['object']).columns.tolist()

for col in cat_cols:
    (n_items, items) = get_column_items(df_market, col)
    display(Markdown(f"* **{col}**: {n_items}"))

* **order_id**: 5008

* **order_date**: 1237

* **ship_date**: 1334

* **ship_mode**: 4

* **customer_id**: 793

* **customer_name**: 793

* **segment**: 3

* **country**: 1

* **city**: 531

* **state**: 49

* **postal_code**: 631

* **region**: 4

* **product_id**: 1861

* **category**: 3

* **sub_category**: 17

* **product_name**: 1849

* **sales**: 5822

* **profit**: 7172

In [74]:
# 
df_market.state.unique()

array(['Kentucky', 'California', 'Florida', 'North Carolina',
       'Washington', 'Texas', 'Wisconsin', 'Utah', 'Nebraska',
       'Pennsylvania', 'Illinois', 'Minnesota', 'Michigan', 'Delaware',
       'Indiana', 'New York', 'Arizona', 'Virginia', 'Tennessee',
       'Alabama', 'South Carolina', 'Oregon', 'Colorado', 'Iowa', 'Ohio',
       'Missouri', 'Oklahoma', 'New Mexico', 'Louisiana', 'Connecticut',
       'New Jersey', 'Massachusetts', 'Georgia', 'Nevada', 'Rhode Island',
       'Mississippi', 'Arkansas', 'Montana', 'New Hampshire', 'Maryland',
       'District of Columbia', 'Kansas', 'Vermont', 'Maine',
       'South Dakota', 'Idaho', 'North Dakota', 'Wyoming',
       'West Virginia'], dtype=object)

In [75]:
# customer_id
df_market.groupby('state')

In [79]:
type(df_market.sales.sum())

str

In [77]:
df_market.groupby('state')[['sales']].sum()

                                                                  sales
state
Alabama               208.1616.74979.9522.7512.48152.767.271819.8670...
Arizona               1.113.024167.9682.388243.992157.92203.1848.161...
Arkansas              105.426.24699.9322.9638.66.6323.341067.9422.28...
California            14.6248.867.28907.15218.504114.91.706.184911.4...
Colorado              238.896102.3636.882218.752.6300.416230.352218....
Connecticut           7.1623.27.36104.791043.9222.211.34552.5627.462...
Delaware              4521.847.0430.84226.56115.0268.049.9426.187.32...
District of Columbia  22.741267.531379.9219.449.6412.741.3740.0837.6...
Florida               9.575.77522.36895.616233.866.206.1455.328258.0...
Georgia               647.8420.72.748.3446.746354.95392.9412.39279.9...
Idaho                 41.96227.8437.94696.42304.7763.3049.584355.361...
Illinois              147.168213.115230.37664.62495.9761.788339.9661...
Indiana               38.2275.186.1689.992.91209.361.4438.999.3934.0...
Iowa                  75.9627.2418.2820732.357.7140.334.5844.756.482...
Kansas                107.9418.2427.7834.95152273.9618.921.24127.962...
Kentucky              261.96731.945.78152.94283.9270.98294.9310.7430...
Louisiana             503.96149.952911.3650.94646.745.64572.5812.965...
Maine                      437.85109.488.2629.8467.98101.96259.74255.42
Maryland              37.6628.9355.96172.5179.9749.0820.86497.615.34...
Massachusetts         7.5624.5612.961.488.42456.5632.7714.322.23.691...
Michigan              211.9619.0583.92131.9815.9252.2991.992.2622.45...
Minnesota             45.9817.4619.996.1612.9653.3432.9677.8823.9220...
Mississippi           866.4479.9714.6219.44185.88173.848.69511.8491....
Missouri              839.43126.338.0486.62697.1616.233.99296.85112....
Montana               2999.9551.4511.961126.02487.98429.0414.628.288...
Nebraska              19.4660.3428.4149.9734.525.9636.276.48104.8523...
Nevada                75.7923.64159.7681669.658.58196.452396.4141.96...
New Hampshire         34.44322.5929.99371.9727.9333.2838.52139.8616....
New Jersey            46.267.5632.41082.4856.9177.614.2845.48289.287...
New Mexico            28.4159.9912.8859579.872545.854.1767.0437.3218...
New York              15.261029.95208.5632.4319.4114.563048.481.684....
North Carolina        15.552200.98474.11227.9923.30418.64814.01636.2...
North Dakota                          131.9425.92704.767.4121.52.4825.9
Ohio                  40.0964.7223.976130.46459.9778.30421.45693.888...
Oklahoma              14.62944.9363.8869.931439.92262.11479.961117.9...
Oregon                5.682141.76239.831.10484.78420.73616.82110.368...
Pennsylvania          71.3723083.439.618124.23.26486.3046.85815.7682...
Rhode Island          49.9612.9614.929.739.961606.2317.0449.53872.32...
South Carolina        301.96186.69354.9191.88628.8156.45269.4925.927...
South Dakota          14.62416.3243182.9460.83389.9720.232.976.5410....
Tennessee             831.93697.0472.784157.79435.168161.568389.6961...
Texas                 68.812.54429.4721.097.544190.92113.3285.323.99...
Utah                  55.51044.634.9659.80873.32912.751089.75447.841...
Vermont               205.03715.21294.7599.988.041564.2979.9212.2854...
Virginia              75.884.89104.01284.8236.84641.96143.9615.4243....
Washington            407.976787.536.63457.56827.68246.3841799.97139...
West Virginia                                     82.46.24447.84673.344
Wisconsin             665.88384.45149.971951.84171.55468.922.7251.84...
Wyoming                                                       1.603.136

In [23]:
# customer_name
df_market.customer_name.nunique()

793

In [24]:
# order_date
df_market[['order_date']].nunique()

order_date    1237
dtype: int64

In [ ]:
# ship_date
df_market[['ship_date']].nunique()

In [ ]:
# segment
df_market[['segment']].nunique()

In [ ]:
df_market.segment.unique()

In [ ]:
# country
df_market.country.nunique()

In [ ]:
df_market.country.unique()

In [ ]:
df_market.state.unique()

In [ ]:
# city
df_market.city.nunique()

In [ ]:
df_market.region.unique()

In [ ]:
# product_id
df_market.product_id.nunique()

In [ ]:
# category
df_market.category.unique()

In [ ]:
# sub_category
df_market.sub_category.unique()

In [ ]:
# product_name
df_market.product_name.unique()

In [ ]:
# product_id
df_market.product_id.unique()

## Conclusiones del trabajo

* Conclusion 1
* Conclusion 2
* Conclusion 3
* ...

## Referencias consultadas